/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/Auth/ForgotPassword/ForgotPasswordStyle.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
#btn-forgot {
    padding: 10px;
    background-color: #033452;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
