@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Love+Light&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    overflow: hidden;
}

#change {
    display: flex;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    height: 90%;
}

.col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

.logo p {
    font-family: "Love Light", cursive;
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.change-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
}

.change-form span {
    text-align: center;
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 600;
}

.change-form label {
    display: block;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 12px;
}

.change-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 24px;
    border: 1px solid #dfdfdf;
}

.password-field {
    position: relative;
}

.password-field #toggler {
    position: absolute;
    right: 20px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}

.far.fa-eye {
    font-size: 16px;
    color: rgb(0, 0, 0);
    opacity: 0.8;
}

.fa-eye-slash {
    font-size: 16px;
    color: rgb(0, 0, 0);
    opacity: 0.8;
}

.change-form button {
    width: 100%;
    padding: 8px;
    background-color: rgb(54, 54, 54);
    color: white;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}

.change-form button:hover {
    background-color: #3f2c1f;
}

.col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.col2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.change-form input::placeholder {
    color: #bebebe;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

/* Format the red * so that it only displays when there is an error */
.error {
    color: red;
    display: none;

}

/* Responsive: Hide col2 on small screens */
@media (max-width: 768px) {
    #forgot {
        width: 90%;
        flex-direction: column;
    }

    .col2 {
        display: none;
    }

    .col1 {
        width: 100%;
        height: auto;
    }
}